<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110055247792-dh9d55tu10fc1q7a946mq6vr8olh73vn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110055247792-dh9d55tu10fc1q7a946mq6vr8olh73vn</string>
	<key>API_KEY</key>
	<string>AIzaSyAfCUVm87i-tnXVwVEo2TgjpA7xJY1Sf_8</string>
	<key>GCM_SENDER_ID</key>
	<string>110055247792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.App</string>
	<key>PROJECT_ID</key>
	<string>esp32-44021</string>
	<key>STORAGE_BUCKET</key>
	<string>esp32-44021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110055247792:ios:52df4fa44784a941941075</string>
	<key>DATABASE_URL</key>
	<string>https://esp32-44021-default-rtdb.firebaseio.com</string>
</dict>
</plist>